
.header-menu,
.movile-menu {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    inset-block-start: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    block-size: 20rem; 
    background: var(--background); 
    z-index: 2;

}

.movile-menu {
    padding-block-start: 3rem;
}

.header-menu-close {
    position: absolute;
    display: none; 
    inset-inline-end: 0.5rem;
    z-index: 2;
}

.header-menu-close .button{ 
    color: var(--primary);
    font-size: 1.5rem;
    margin-left: 1rem;
    
}


.header-menu > a { 
    padding-inline: 3rem;
}

    
.header-menu > .is-selected,
.movile-menu > .is-selected {
    text-decoration: underline;
    color: var(--primary);
}

@media screen and (min-width: 1024px) {

    .header-menu {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: unset;
        block-size: unset;
        background: none;
    }
    
    .header-menu-close {
        display: none;
    }
}
