.movie-list {
    display: grid; 
    grid-template-columns: repeat(auto-fill, 5rem);
    column-gap: .75rem;
    row-gap: 1rem;
    justify-content: center;
}

@media screen and (min-width: 1024px) {
    .movie-list { 
        grid-template-columns: repeat(auto-fill, 13.75rem);
        column-gap: 1.5rem;
        row-gap: 3rem;
    }
}