
.not-founded{
    max-inline-size: 43.5625rem;
    max-block-size: 30.4375rem;
    margin: auto;
    text-align: center;     
    margin-block-end: 5rem;
}

.not-founded__img{
    max-inline-size: 30.5rem;
    max-block-size: 26.875rem; 
    margin: auto;
}

.not-founded__img img{
    inline-size: 100%;
    block-size: 100%;
}

.not-founded p {
    font: var(--body1-bold); 
    color: var(--white);
}


@media screen and (min-width: 1024px) { 
    .not-founded p {
        font: var(--headline3);
    }  
}



